* {
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'roman';
    src: url(../font/Rosmatika\ \(DEMO\).ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}


#header {
    background-color: #fff;
    box-shadow: 0px 1px 3px #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    margin-top: 1rem;
    height: 3.5rem;
}


#left,
#right {
    display: inline-block;
}

#left {
    color: green;
    margin-left: 1rem;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
}


#left .name{
    font-family: roman;
}

#right {
    float: right;
    color: green;
    margin: 1.5rem;
}



.register {
    font-size: 2rem;
    border-radius: 1rem;
    background-color: green;
    border: 1pt solid black;
    margin-right: 10pt;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.login {
    text-decoration: underline;
    font-size: 15pt;
    margin: 10pt;
}

.blacka{
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yellowe{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#slide{
    float: left;
    width: 79%;
}

#text{
    float: left;
    width: 20%;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 570pt;
}

#text p{
    font-size: 1.65rem;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text #center{
    text-align: center;
}