*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

/*Cabecera*/
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

@font-face{
    font-family: 'American';
    src: url(../../../font/American\ Typewriter\ Bold.ttf);
}

@font-face {
    font-family: 'roman';
    src: url(../../../font/Rosmatika\ \(DEMO\).ttf);
}

#header {
    background-color: #fff;
    box-shadow: 0px 1px 3px #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    margin-top: 1rem;
    height: 3.5rem;
}

#left,
#right {
    display: inline-block;
}

#left {
    color: green;
    margin-left: 1rem;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
}

#left .name{
    font-family: roman;
}

#right {
    float: right;
    
    margin: 2.5rem;
}

#box{
    margin: 1rem;
}

#box a{
    text-decoration: none;
    color: green;
}

#box a:hover{
    text-decoration: underline;
}

/*Cuerpo*/

#content{
    font-family: 'American';
    height: 40%;
}

#content a{
    text-decoration: none;
    color: #000;
}

#content .box{
    float: left;
    margin: 2rem 0.5rem;
    border-radius: 0.5rem;
    height: 13rem;
    width: 24rem;
    border: #000 solid 5px;
}

#content .box #icon{
    font-size: 8rem;
    margin-right: 1rem;
    float: left;
    padding: 1.5rem;
}

#content .box  p{
    float: left;
    font-size: 2rem;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    padding: 0.1rem;
}

#content #caja1{
   background-color: rgba(255, 0, 0, 0.6);
}

#content #caja2{
    background-color: rgba(0, 0, 255, 0.6);
}

#content #caja3{
    background-color: rgba(0, 255, 0, 0.6);
}


/*Footer*/

#footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    background-color: rgba(0, 128, 0, 0.7);
    font-weight: bold;
    height: 50%;
}

#footer p{
    padding-left: 2rem;
    padding-top: 2rem;
}

#footer iframe{
    float: right;
    margin-right: 34rem;
}

ul{
    list-style: none;
}

ul li{
    padding: 1rem;
}

#hor{
    display: inline-block;
    padding: 2rem;
    font-size: 3rem;
}

#footer a{
    text-decoration: none;
    color: #000;
}