*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 2rem;
    background-color: #fff;
}

form{
    margin: 0 auto; 
    width: 50%;
    background-color: green;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 2rem;
}

form input, select, a{
    display: block;
    margin: 1rem auto;
    padding: 0.9rem;
    width: 80%;
    border-radius: 1rem;
    border-color: #000;
}

form input, select{
    transition: background-color 0.4s linear, font-size 0.4s linear;
}

form h3{
    text-align: center;
    font-size: 3rem;
}

form a{
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 0;
}

form a:hover{
    text-decoration: underline;
}

form input:focus{
    background-color: rgba(147, 250, 165, 1); 
    border-color: #000;
    font-size: 1.5rem;
}

form input:hover{
    background-color: rgba(147, 250, 165, 1); 
    border-color: #000;
    font-size: 1.5rem;
}

form select:focus{
    background-color: rgba(147, 250, 165, 1); 
    border-color: #000;
    font-size: 1.5rem;
}

form select:hover{
    background-color: rgba(147, 250, 165, 1); 
    border-color: #000;
    font-size: 1.5rem;
}

form #boton1:hover{
    background-color: rgba(147, 250, 165, 1); 
    font-size: 1.5rem;
}

form #boton2:hover{
    background-color: rgba(255, 0, 0, 0.6); 
    font-size: 1.5rem;
}

form input:invalid{
    background-color: rgba(255, 0, 0, 0.6); 
    font-size: 1.5rem;
}

form #remem{
    display: inline;
    width: auto;
    text-align: center;
    margin-right: 1rem;
}

form label{
    display: inline;
}
